.extra__wrapper {
  padding-top: 28px;
}

.extra__title {
  display: inline-block;
  margin-bottom: 34px;
}

.extra__products {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  list-style: none;
  border-top: solid 1px $black-lighter;
}

.extra__item {
  padding: 13px 0 18px;

  border-bottom: solid 1px $black-lighter;
}

.extra__product {
  display: block;
  margin-bottom: 13px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
}

.extra__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;

  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .extra__wrapper {
    padding-top: 0;
  }

  .extra__products {
    border: solid 1px $black-lighter;
    margin-bottom: 70px;
  }

  .extra__title {
    margin-bottom: 79px;
  }

  .extra__item {
    padding: 0;
  }

  .extra__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 27px;
  }

  .extra__item:last-of-type {
    border: none;
  }

  .extra__product {
    margin-bottom: 0;

    font-size: $font-size-larger;
    line-height: 20px;
  }

  .extra__table {
    margin-bottom: 0;
    padding-top: 3px;
  }

  .extra__term,
  .extra__determination {
    font-size: $font-size-medium;
    line-height: 20px;
  }

  .extra__determination {
    min-width: 60px;
    margin-left: 35px;
    margin-right: -2px;

    text-align: right;
  }

  .extra__button {
    width: 100%;
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .extra__products {
    margin-bottom: 0;
    margin-right: 80px;
    flex-grow: 1;

    border-left: none;
    border-right: none;
  }

  .extra__row {
    display: flex;
  }

  .extra__item-wrapper {
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 17px 3px 14px;
  }

  .extra__button {
    width: 245px;
    margin-top: 0;
  }

  .extra__product {
    max-width: 300px;

    font-size: $font-size-larger;
  }

  .extra__table {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: 23px;
    margin-left: auto;
    padding-top: 3px;
  }

  .extra__determination {
    min-width: 50px;
    margin-right: 7px;
    margin-left: 0;

    text-align: left;
  }
}
