.header {
  position: relative;
}

.header__wrapper {
  padding: 0;

  border-bottom: 1px solid $grey;
}

.header__logo {
  display: flex;
  margin: 0 auto;
  padding: 13px 20px 15px;

  font-size: 0;

  cursor: pointer;
  transition: 200ms ease;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
  outline: none;
}

.header__logo:active {
  opacity: 0.6;
}

.header__picture {
  width: 191px;
  height: auto;
  vertical-align: middle;
}

.header__background {
  position: absolute;
  top: 100%;
  z-index: -1;

  display: block;
  min-width: 320px;
  width: 100%;
  height: 305px;

  background-color: $green-dark;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 24px 30px 58px;
    box-sizing: border-box;

    border: none;
  }

  .header__logo {
    margin: 0;
    padding: 0;
    margin-right: auto;
  }

  .header__picture {
    width: 174px;
  }

  .header__background {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    width: $desktop-width;
    padding: 52px 40px 80px;
  }

  .header__picture {
    width: 203px;
  }

  .header__wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -5;

    height: 696px;

    overflow: hidden;
  }

  .header__background {
    display: block;
    top: 0;
    left: 50%;

    width: 720px;
    height: 696px;
  }
}
