.page {
  width: 100%;

  font-family: $oswald;
  font-size: $font-size-default;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: $main-color;
}

.page__header {
  min-width: 320px;
}

@media (min-width: $desktop-width) {
  .page-form__title {
    margin: 0 auto 56px;
  }
}
