.page-form {
  min-width: 320px;
  margin: auto;
}

.page-form__title {
  margin-bottom: 26px;
  padding-top: 14px;

  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    margin-bottom: 56px;
    padding-top: 0;
  }

  .page-form__form {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__title {
    margin-top: -4px;
  }

  .page-form__form {
    padding: 0;
  }
}
