.presentation {
  position: relative;

  color: $white;
  text-align: center;
}

.presentation__wrapper {
  position: relative;
}

.presentation__title {
  position: relative;
  padding: 29px 15px 13px;

  line-height: 36px;
  color: inherit;
}

.presentation__title::before {
  content: "";
  position: absolute;
  z-index: -5;

  display: block;
  width: 100%;
  height: 100%;

  background: $green;
}

.presentation__description {
  padding: 9px 0;
  margin: 0 0 20px;

  text-transform: uppercase;
  line-height: 14px;
}

.presentation__picture {
  width: 280px;
}

.presentation__link {
  padding: 11px;

  font-size: $font-size-default;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .presentation {
    position: relative;

    min-height: 806px;
    padding: 0;

    text-align: left;
    color: $black-dark;

    background-image: none;
  }

  .presentation__wrapper {
    padding: 0 90px;
    padding-left: 118px;
    box-sizing: border-box;
  }

  .presentation__title {
    padding: 0;
    margin-bottom: 33px;

    line-height: 60px;
  }

  .presentation__title::before {
    content: none;
  }

  .presentation__description {
    margin-bottom: 40px;

    font-size: $font-size-larger;
    line-height: 20px;
  }

  .presentation__picture {
    position: absolute;
    z-index: -1;
    top: 72%;

    width: 709px;
    margin-left: -88px;
  }

  .presentation__link {
    display: inline-block;
    padding: 15px 27px 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    min-height: 505px;
  }

  .presentation__wrapper {
    padding-top: 31px;
    padding-left: 121px;
  }

  .presentation__title {
    width: 550px;
  }

  .presentation__description {
    margin-bottom: 43px;
  }

  .presentation__picture {
    top: -53px;
    right: 255px;

    width: 553px;
  }

  .presentation__link {
    font-size: $font-size-larger;
  }
}
