.product {
  display: flex;
  flex-wrap: wrap;
}

.product__link-picture {
  position: relative;

  display: block;

  font-size: 0;
  line-height: 0;
  text-decoration: none;
}

.product__link {
  display: block;
  padding-right: 50px;
  margin-bottom: 13px;

  font-size: $font-size-medium;
  text-transform: uppercase;
  text-decoration: none;

  line-height: 20px;
  color: $black-dark;
}

.product__button {
  width: 100%;
}

.product__description {
  width: 50%;
  padding-top: 22px;
}

.product__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;

  font-family: $arial;
  font-size: $font-size-small;
  line-height: 16px;
}

.product__term,
.product__determination {
  width: 50%;
  margin: 0;
}

.product__determination {
  text-align: right;
}

.product__picture {
  position: relative;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .product {
    height: 100%;
    flex-direction: column;
    padding: 0 38px 40px;
    box-sizing: border-box;

    background: linear-gradient(to bottom, $white 82px, $grey-light 82px);
  }

  .product__link-picture {
    margin-left: -38px;
    width: calc(100% + 76px);
    min-height: 208px;
    margin-bottom: 39px;
  }

  .product__description {
    width: 100%;
    padding: 0;
  }

  .product__link {
    width: 170px;
    margin: 0 auto 17px;
    padding-right: 0;

    font-size: $font-size-larger;
    text-align: center;
  }

  .product__table {
    margin-bottom: 33px;

    font-size: $font-size-medium;
  }

  .product__term,
  .product__determination {
    padding: 9px 0 6px;

    border-bottom: 1px solid $black-lighter;
  }

  .product__picture {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    width: 324px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    padding: 0 38px 40px;
  }

  .product__button {
    margin-top: auto;
  }

  .product__picture {
    width: 245px;
  }
}
