.program__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 20px 0;
}

.program__picture {
  position: relative;

  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 24px;

  border-radius: 50%;
  background-color: $green;
}

.program__picture--panther svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 67px;
  height: 28px;
}

.program__picture--slim svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35px;
  height: 49px;
}

.program__title {
  margin: 0;
  padding-top: 9px;

  font-size: $font-size-title-small;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;
  color: $black-dark;
}

.program__description {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 15px;

  font-family: $arial;
}

.program__link {
  position: relative;

  display: flex;
  align-items: center;
  min-width: 122px;
  width: 100%;
  padding: 20px 28px 20px 0;

  font-size: $font-size-medium;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-dark;
  line-height: 16px;

  box-sizing: border-box;
  border-top: $grey-pff solid 1px;
  cursor: pointer;
  transition: 200ms ease;
  outline: none;
}

.program__link:active {
  opacity: 0.3;
}

.program__link::after {
  content: "";
  position: relative;
  top: 0;
  right: 0;

  display: block;
  width: 25px;
  height: 15px;
  margin-left: 10px;

  background-image: url("../../img/icon-right-arrow-long.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms ease;
}

.program__link:hover::after,
.program__link:focus::after {
  width: 34px;
  height: 12px;
  background-image: url("../../img/icon-right-arrow-verylong.svg");
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    position: relative;

    padding: 80px 280px 60px 55px;

    overflow: hidden;
  }

  .program__picture {
    position: absolute;
    top: 52%;
    right: 60px;
    transform: translateY(-50%);

    width: 200px;
    height: 200px;
    margin: 0;
  }

  .program__title {
    margin-bottom: 24px;
    padding-top: 0;

    font-size: $font-size-title;
  }

  .program__description {
    margin-bottom: 56px;
    padding: 0;

    font-size: $font-size-medium;
    line-height: 24px;
  }

  .program__picture--panther ~ .program__description {
    padding-right: 29px;
  }

  .program__link {
    min-width: 155px;
    padding: 0;
    padding-right: 30px;

    font-size: $font-size-larger;
    line-height: 20px;

    border-top: none;
  }

  .program__link::after {
    margin-left: 20px;
  }

  .program__picture--slim svg {
    top: 43%;

    width: 141px;
    height: 194px;
  }

  .program__picture--panther svg {
    width: 268px;
    height: 113px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    align-items: center;
    padding: 47px 52px 61px;
  }

  .program__title {
    margin-bottom: 46px;
  }

  .program__picture {
    position: relative;
    right: 0;
    transform: none;

    width: 100px;
    height: 100px;
    margin-right: 64px;
    margin-bottom: 42px;
  }

  .program__picture--slim svg {
    width: 71px;
    height: 97px;
  }

  .program__picture--panther svg {
    width: 134px;
    height: 57px;
  }

  .program__description {
    margin-bottom: 30px;
  }

  .program__picture--panther ~ .program__description {
    padding-right: 0;
  }

  .program__link::after {
    margin-left: 23px;
  }
}
