.title {
  margin: 0;

  font-size: $font-size-title;
  font-weight: 400;
  color: $black-dark;
}

.title--small {
  position: relative;

  padding-right: 22px;
  padding-left: 40px;
  margin: 0 0 0 -40px;

  font-weight: 400;
  color: $black-dark;
  font-size: $font-size-title-small;
  line-height: 24px;

  background: $white;
}

.title--small::before,
.title--small::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;

  width: 100vw;
  height: 3px;
  margin-top: 2px;

  background: #68b738;
  box-sizing: inherit;
}

.title--small::before {
  right: 0;
}

.title--small::after {
  left: 20px;
}

@media (max-width: 443px) {
  .title--small-line::after {
    content: "";
    right: -60px;
    left: auto;
    z-index: 0;
    transform: translateY(-13px);

    width: 16vw;
  }
}

@media (max-width: 392px) {
  .title--small-line::after {
    content: "";
    right: -60px;
    left: auto;
    z-index: 0;
    transform: translateY(-13px);

    width: 30vw;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: $font-size-title-large;
  }

  .title--small {
    padding-right: 40px;
    margin-left: 0;

    font-size: $font-size-title;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .title--small {
    margin-left: -40px;
  }
}
