.button {
  display: block;
  padding: 13px 15px 12px 15px;

  font-size: $font-size-medium;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box;
  border: none;
  transition: 200ms ease;
  outline: none;
  cursor: pointer;
}

.button--green {
  color: $white;
  background-color: $green;
}

.button--green:hover,
.button--green:focus {
  background-color: $green-darken;
}

.button--green:active {
  color: rgba($white, 0.3);
}

.button--grey {
  color: $main-color;
  background-color: $grey-light;
}

.button--grey:hover,
.button--grey:focus {
  background-color: $grey-ebeb;
}

.button--grey:active {
  color: rgba($main-color, 0.3);
}
