.checkbox-btn {
  position: relative;

  display: flex;
  align-items: center;

  font-size: $font-size-medium;
  text-transform: uppercase;
  color: $black;

  cursor: pointer;
}

.checkbox-btn__input {
  position: absolute;
  clip: rect(0 0 0 0);
  margin-left: -13px;
}

.checkbox-btn__icon {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border: 1px solid $grey-lighter;
}

.checkbox-btn__input:checked ~ .checkbox-btn__icon::before {
  position: relative;
  top: 50%;
  left: 50%;

  content: "";
  display: block;
  width: 8px;
  height: 16px;

  border-bottom: 2px solid $green;
  border-right: 2px solid $green;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 200ms ease;
}

.checkbox-btn:hover .checkbox-btn__icon,
.checkbox-btn:focus .checkbox-btn__icon {
  border: 1px solid $grey-baba;
}

.checkbox-btn:active {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .checkbox-btn {
    width: 45%;

    font-size: $font-size-larger;
    line-height: 20px;
  }

  .checkbox-btn__icon {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }

  .checkbox-btn__input:checked ~ .checkbox-btn__icon::before {
    width: 12px;
    height: 22px;
  }
}
