.checkbox-btn {
  position: relative;

  display: flex;
  align-items: center;

  font-size: $font-size-medium;
  text-transform: uppercase;
  color: $black;

  cursor: pointer;
}

.checkbox-btn__input {
  visibility: hidden;
  margin-left: -13px;
}

.checkbox-btn__icon {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border: 1px solid $grey-lighter;
}

.checkbox-btn__input:checked ~ .checkbox-btn__icon::before {
  position: relative;
  top: 50%;
  left: 50%;

  content: "";
  display: block;
  width: 8px;
  height: 16px;

  border-bottom: 2px solid $green;
  border-right: 2px solid $green;
  transform: translate(-50%, -50%) rotate(35deg);
}
