.contacts__cutaway {
  padding-top: 31px;
  padding-bottom: 26px;
  display: flex;
}

.contacts__cooperation {
  margin: 0;
  margin-right: 20px;
  font-size: $font-size-medium;

  text-transform: uppercase;
  line-height: 20px;
  color: $black-dark;
}

.contacts__address {
  margin: 0;

  font-family: $arial;
  line-height: 20px;
}

.contacts__picture-map {
  position: relative;

  display: block;
  height: 365px;
  margin: 0 auto;

  object-fit: cover;
  object-position: bottom;
}

.contacts__wrapper--white {
  background: $white;
}

.contacts__map {
  position: relative;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 46%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  display: block;
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-size: cover;
}

.contacts__js-map {
  width: 100%;
  height: 365px;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__cutaway {
    padding: 65px 40px 57px;
  }

  .contacts__cooperation {
    width: 160px;

    font-size: $font-size-larger;
    text-align: left;
    line-height: 25px;
  }

  .contacts__address {
    width: 160px;
    margin-left: auto;

    font-size: $font-size-medium;
    text-align: right;
    line-height: 20px;
  }

  .contacts__address span {
    display: block;
    padding-top: 18px;
  }

  .contacts__picture-map {
    width: 767px;
    height: 400px;
  }

  .contacts__js-map {
    height: 400px;
  }

  .contacts__map::before {
    top: 50%;
    left: 49%;

    width: 113px;
    height: 106px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
  }

  .contacts__cutaway {
    position: absolute;
    top: 95px;
    left: 22px;
    z-index: 1;

    width: 570px;
    padding: 66px 85px 62px 76px;

    background: $white;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    overflow: hidden;
  }

  .contacts__picture-map {
    width: 1440px;
  }

  .contacts__map::before {
    top: 50%;
    right: 301px;
    left: auto;

    width: 113px;
    height: 106px;
  }
}
