.content__presentation {
  margin-bottom: 22px;
}

.content__programs {
  margin-bottom: 32px;
}

.content__how-work {
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .content__programs {
    margin-bottom: 50px;
  }

  .content__how-work {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .content__presentation {
    margin-bottom: 80px;
  }
}
