.content__presentation {
  margin-bottom: 22px;
}

.content__programs {
  margin-bottom: 18px;
}

.content__how-work {
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .content__programs {
    margin-bottom: 46px;
  }

  .content__how-work {
    margin-bottom: 0;
  }

  .content__presentation {
    margin-bottom: 2px;
  }
}

@media (min-width: $desktop-width) {
  .content__presentation {
    margin-bottom: 76px;
  }

  .content__programs {
    margin-bottom: 74px;
  }
}
