.content {
  width: 320px;
  margin: auto;
}

.content__presentation {
  margin-bottom: 22px;
}

.content__programs {
  margin-bottom: 22px;
}

.content__how-work {
  margin-bottom: 22px;
}

.content__title {
  margin-bottom: 20px;

  line-height: 60px;
}

.content__description {
  margin: 0;
  padding-right: 30px;

  text-transform: uppercase;
  color: $black-dark;
}

.content__wrapper {
  margin-bottom: 39px;
  padding: 10px 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .content {
    width: $tablet-width;
  }

  .content__programs {
    margin-bottom: 50px;
  }

  .content__how-work {
    margin-bottom: 0;
  }
}
