.copyright {
  display: flex;
  align-items: center;

  padding-top: 22px;
  padding-bottom: 20px;
}

.copyright__logo {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: $font-size-medium;
  font-family: $arial;
  line-height: 16px;
  text-decoration: none;
  color: $main-color;

  transition: 200ms ease;
  outline: none;
}

.copyright__logo:visited {
  color: $main-color;
}

.copyright__logo:active {
  opacity: 0.3;
}

.copyright__logo svg {
  margin-left: auto;

  fill: $grey-44;
  transition: 300ms ease;
}

.copyright__logo:hover svg,
.copyright__logo:focus svg,
.copyright__logo:active svg {
  fill: $green;
}

@media (min-width: $tablet-width) {
  .copyright {
    align-items: center;
    padding: 0;
  }

  .copyright__name {
    align-items: center;
    margin: 0;
    margin-right: 15px;
  }

  .copyright__logo {
    display: flex;
    width: auto;
  }

  .copyright__logo svg {
    width: 40px;
    height: 44px;
    margin-left: 20px;
  }
}
