.example {
  padding-bottom: 20px;

  background: $grey-light;
}

.example__title {
  margin-bottom: 22px;
  padding-top: 17px;

  line-height: 60px;
}

.example__text {
  margin: 0 0 25px;
  padding-right: 13px;

  font-family: $arial;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 13px;
  padding: 0;
  justify-content: space-between;

  list-style: none;
}

.example__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__accent {
  margin: 0;
  padding: 13px 20px 18px;
  width: 100%;

  font-size: $font-size-title-small;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  color: $black-dark;

  border-radius: 3px;
  border: solid 1px $grey-lighter;
  box-sizing: border-box;
}

.example__accent-description {
  margin-top: -16px;
  padding: 6px 15px;
  max-width: 90px;

  font-size: $font-size-small;
  font-family: $arial;
  text-align: center;
  line-height: 12px;

  background: $grey-light;
}

.example__cost {
  margin: 0 0 35px;

  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  color: $black-dark;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 0;

    border-top: 1px solid $grey-yet;
    background: $white;
    overflow: hidden;
  }

  .example__title {
    margin-bottom: 65px;
    padding-top: 0;
  }

  .example__text {
    margin-bottom: 52px;

    font-size: $font-size-medium;
    line-height: 24px;
  }

  .example__container {
    display: flex;
    align-items: center;
    margin-bottom: 241px;
  }

  .example__list {
    width: 52%;
    margin: 0;
  }

  .example__item {
    margin-right: 20px;
    width: 44%;
  }

  .example__item:last-of-type {
    margin-right: 0;
  }

  .example__accent {
    padding: 15px 20px 19px;

    font-size: $font-size-largest;
    line-height: 37px;
  }

  .example__accent-description {
    max-width: none;
    padding: 8px;

    font-size: $font-size-default;
    line-height: 14px;

    background: $white;
  }

  .example__cost {
    width: 200px;
    margin: 0;
    margin-left: auto;
    padding-bottom: 17px;

    font-size: $font-size-larger;
    text-align: right;
    line-height: 20px;
  }
  .example__cost span {
    padding-top: 10px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 60px;

    border: none;
    background: linear-gradient(to bottom, transparent 196px, #f2f2f2 196px);
  }

  .example__wrapper {
    display: flex;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__text {
    margin-bottom: 68px;
    padding-right: 27px;
  }

  .example__description {
    position: relative;

    margin-right: 70px;
  }

  .example__container {
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 0;
  }

  .example__list {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 44px;
  }

  .example__item,
  .example__item:last-of-type {
    width: 162px;
    margin-right: 42px;
  }

  .example__accent {
    padding: 17px 18px 19px;
  }

  .example__accent-description {
    background: $grey-light;
  }

  .example__cost {
    width: 100%;

    text-align: start;
  }

  .example__cost span {
    display: inline;

    padding-left: 59px;
  }
}
