.example {
  background: $grey-light;
  padding-bottom: 20px;
}
.example__wrapper {
  padding: 20px;
}
.example__title {
  line-height: 60px;
  margin-bottom: 30px;
}
.example__description {
  margin: 0;
  margin-bottom: 27px;
  font-family: $arial;
  padding-right: 13px;
}
.example__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.example__accent {
  border-radius: 3px;
  border: solid 1px $grey-lighter;
  padding: 13px 20px 24px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
}
.example__accent-description {
  font-size: $font-size-small;
  font-family: $arial;
  text-align: center;
  background: $grey-light;
  margin-top: -16px;
  padding: 10px 15px;
  max-width: 60px;
  line-height: 12px;
}
.example__cost {
  text-transform: uppercase;
  color: $black;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.example__slider {
  margin-bottom: 20px;
}
