.example {
  padding-bottom: 20px;

  background: $grey-light;
}

.example__wrapper {
  padding: 20px;
}

.example__title {
  margin-bottom: 30px;

  line-height: 60px;
}

.example__description {
  margin: 0;
  margin-bottom: 27px;
  padding-right: 13px;

  font-family: $arial;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  justify-content: space-between;

  list-style: none;
}

.example__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__accent {
  margin: 0;
  padding: 13px 20px 24px 20px;
  width: 100%;

  font-size: $font-size-title-small;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  color: $black-dark;

  border-radius: 3px;
  border: solid 1px $grey-lighter;
  box-sizing: border-box;
}

.example__accent-description {
  margin-top: -16px;
  padding: 10px 15px;
  max-width: 60px;

  font-size: $font-size-small;
  font-family: $arial;
  text-align: center;
  line-height: 12px;

  background: $grey-light;
}

.example__cost {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  color: $black-dark;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 50px;
    padding-bottom: 0;

    border-top: 1px solid $grey-yet;
    background: $white;
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__description {
    margin-bottom: 56px;

    font-size: $font-size-medium;
    line-height: 24px;
  }

  .example__container {
    display: flex;
    align-items: center;
    margin-bottom: 241px;
  }

  .example__list {
    width: 50%;
    margin: 0;
  }

  .example__item {
    margin-right: 20px;
  }

  .example__item:last-of-type {
    margin-right: 0;
  }

  .example__accent {
    padding: 22px 32px 24px;

    font-size: $font-size-largest;
  }

  .example__accent-description {
    max-width: none;
    padding: 8px;

    font-size: $font-size-default;

    background: $white;
  }

  .example__cost {
    width: 200px;
    margin: 0;
    margin-left: auto;

    font-size: $font-size-larger;
    text-align: right;
    line-height: 20px;
  }
}
