.extra__wrapper {
  padding-top: 30px;
}

.extra__title {
  margin-bottom: 30px;
}

.extra__products {
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: solid 1px $black-lighter;
}

.extra__item {
  padding: 14px 0 17px;

  border-bottom: solid 1px $black-lighter;
}

.extra__product {
  display: block;
  margin-bottom: 15px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
}

.extra__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;

  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .extra__wrapper {
    padding-top: 0;
  }

  .extra__products {
    border: solid 1px $black-lighter;
  }

  .extra__title {
    margin-bottom: 75px;
  }

  .extra__item {
    padding: 0;
  }

  .extra__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 38px;
  }

  .extra__item:last-of-type {
    border: none;
  }

  .extra__product {
    margin-bottom: 0;

    font-size: $font-size-large;
    line-height: 20px;
  }

  .extra__table {
    margin-bottom: 0;
  }

  .extra__term,
  .extra__determination {
    font-size: $font-size-medium;
    line-height: 20px;
  }

  .extra__button {
    width: 100%;
    margin-top: 25px;
  }
}
