.field-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: $font-size-medium;
  text-transform: uppercase;
  color: $black;
}

.field-input__text {
  padding-right: 15px;
}

.field-input__input {
  width: 100%;
  padding: 15px 40px 15px 16px;
  box-sizing: border-box;

  border: 1px solid $grey-lighter;
  text-overflow: ellipsis;
}

.field-input__input::placeholder {
  text-transform: uppercase;
  color: $main-color;
}

.field-input__conteiner {
  position: relative;

  flex-grow: 1;
}

.field-input__picture {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);

  display: block;
}
