.footer {
  width: 320px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
  background: $grey-light;
}
.footer__logo-link {
  display: block;
  font-size: 0;
  border-bottom: $grey-yet solid 1px;
}
.footer__logo-link img {
  display: block;
  margin: 0 auto;
} //todo что за всратый отступ
