.footer {
  width: 320px;
  margin: auto;
  box-sizing: border-box;
  background: $grey-light;
}
.footer__logo-link {
  display: flex;
  margin: 0 20px;

  font-size: 0;
  border-bottom: $grey-yet solid 1px;
}
.footer__logo-link img {
  display: block;
  margin: 0 auto;
}
