.footer {
  box-sizing: border-box;

  background: $grey-light;
}

.footer__logo-link {
  display: flex;
  padding: 20px 0 10px;

  font-size: 0;

  transition: 200ms ease;
  outline: none;
}

.footer__logo-link svg {
  display: block;
  margin: 0 auto;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  opacity: 0.8;
}

.footer__logo-link:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .footer__logo-link {
    margin: 0;
    padding: 0;
  }
}
