.form {
  overflow: hidden;
}

.form__description {
  margin: 0 0 39px;
  padding-right: 30px;

  text-transform: uppercase;
  color: $black-dark;
}

.form__description br {
  display: none;
}

.form__row .form__groups:first-of-type {
  margin-bottom: 22px;
}

.form__row .form__groups:last-of-type {
  margin-bottom: 27px;
}

.form__groups {
  margin: 0 0 30px;
  padding: 0;
  display: flex;

  border: none;
}

.form__groups:first-of-type {
  margin-bottom: 28px;
}

.form__groups:last-of-type {
  margin-bottom: 35px;
}

.form__label {
  margin-bottom: 14px;
}

.form__checkbox-wrapper .form__label {
  margin-bottom: 12px;
}

.form-personal__label--min-margin {
  margin-bottom: 12px;
}

.form__label:last-of-type {
  margin-bottom: 0;
}

.form__groups--border {
  padding: 22px 0;

  border-top: 1px solid $grey-yet;
  border-bottom: 1px solid $grey-yet;
}

.form__legend {
  margin-bottom: 34px;

  line-height: 24px;
}

.form__submit {
  margin-bottom: 29px;
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
}

.form__text {
  display: block;

  font-family: $arial;
  text-align: center;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__description {
    margin-bottom: 66px;

    font-size: $font-size-larger;
    line-height: 30px;
  }

  .form__description br {
    display: inline;
  }

  .form__legend {
    margin-left: -40px;
    margin-bottom: 82px;
  }

  .form__label {
    margin-bottom: 19px;
  }

  .form__row .form__groups:first-of-type {
    margin-bottom: 70px;
  }

  .form__row .form__groups:last-of-type {
    margin-bottom: 82px;
  }

  .form__groups {
    margin-bottom: 70px;
  }

  .form__groups:first-of-type {
    margin-bottom: 70px;
  }

  .form__groups:last-of-type {
    margin-bottom: 50px;
  }

  .form__groups--border {
    margin-bottom: 80px;
    padding: 25px 28px;

    border: 1px solid $grey-lighter;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: -30px;
  }

  .form__checkbox-wrapper .form__label {
    margin-right: 0;
    margin-bottom: 34px;
  }

  .form__submit {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    padding: 0;
  }

  .form__button {
    width: 283px;
    margin-right: 60px;
    margin-bottom: 0;
    padding: 17px 20px 15px;

    font-size: $font-size-larger;
    line-height: 20px;
  }

  .form__text {
    font-size: $font-size-medium;
  }
}

@media (min-width: $desktop-width) {
  .form__row {
    display: flex;
  }

  .form__groups:last-of-type {
    margin-bottom: 58px;
  }

  .form__groups {
    margin-bottom: 74px;
  }

  .form__row .form__groups:last-of-type {
    margin-bottom: 76px;
  }

  .form__row .form__groups {
    width: 50%;
    margin-right: 80px;
    margin-bottom: 75px;
  }

  .form__row .form__groups:nth-child(2n) {
    margin-right: 0;
  }

  .form__checkbox-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .form__checkbox-wrapper .form__label {
    margin-right: 108px;
    min-width: 216px;
  }

  .form__button {
    width: 568px;
    margin-right: 80px;
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1221px;
  }

  .form__contacts-wrapper .form__label {
    width: 50%;
    margin-bottom: 0;
    margin-right: 78px;
  }

  .form__contacts-wrapper .form__label:nth-child(2n) {
    margin-right: 0;
  }

  .form__submit {
    margin-bottom: 82px;
  }
}
