.header {
  padding: 0;

  border-bottom: 1px solid $grey;
}

.header__logo {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 11px 20px;

  font-size: 0;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    align-items: center;
    padding: 24px 30px 63px;

    border: none;
    box-sizing: border-box;
  }

  .header__logo {
    margin: 0;
    margin-right: auto;
  }
}
