.header {
  padding: 0;

  border-bottom: 1px solid $grey;
}

.header__logo {
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding: 11px 20px;

  font-size: 0;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 24px 30px 63px;
    box-sizing: border-box;

    border: none;
  }

  .header__logo {
    width: 174px;
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: $desktop-width;
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
