.page {
  width: 100%;
  font-family: $oswald;
  font-size: $font-size-default;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: $main-color;
}
