.product-else {
  padding-top: 25px;
}

.product-else__picture {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  margin-bottom: 25px;

  fill: $grey-light;
}

.product-else__title {
  margin: 0;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: $font-size-medium;
  text-align: center;
  line-height: 20px;
  color: $black-dark;
}

.product-else__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $arial;
  font-size: $font-size-small;
  text-align: center;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .product-else {
    margin-top: 82px;
    padding: 55px 0 40px;

    border: 1px solid $grey-lighter;
  }

  .product-else__picture {
    width: 61px;
    height: 61px;
    margin-bottom: 50px;
  }

  .product-else__title {
    margin: 0 90px;
    margin-bottom: 28px;

    font-size: $font-size-large;
  }

  .product-else__text {
    margin: 0 70px;
    margin-bottom: 85px;

    font-size: $font-size-medium;
  }

  .product-else__button {
    margin: 0 38px;
  }
}
