.product-else {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.product-else__picture {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 31px;
  height: 31px;
  margin-bottom: 25px;
}

.product-else__picture::before,
.product-else__picture::after {
  content: "";
  position: absolute;
  left: 50%;

  display: block;
  width: 3px;
  height: 100%;
  background: $grey-light;
}

.product-else__picture::after {
  transform: rotate(90deg);
}

.product-else__title {
  margin: 0 0 8px;

  text-transform: uppercase;
  font-size: $font-size-medium;
  text-align: center;
  line-height: 20px;
  color: $black-dark;
}

.product-else__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $arial;
  font-size: $font-size-small;
  text-align: center;
  line-height: 16px;
}

.product-else__button {
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .product-else {
    height: 100%;
    padding: 55px 0 40px;
    box-sizing: border-box;

    border: 1px solid $grey-lighter;
  }

  .product-else__picture {
    width: 61px;
    height: 61px;
    margin-bottom: 50px;
  }

  .product-else__title {
    margin: 0 90px 28px;

    font-size: $font-size-larger;
  }

  .product-else__text {
    margin: 0 70px 85px;

    font-size: $font-size-medium;
  }

  .product-else__button {
    margin: auto 38px 0;
  }
}

@media (min-width: $desktop-width) {
  .product-else__title {
    margin: 0 50px 28px;
  }

  .product-else__text {
    margin: 0 38px 85px;
  }
}
