.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  border-top: solid 1px $grey;
}

.product__link-picture {
  display: block;

  font-size: 0;
  text-decoration: none;
}

.product__link {
  display: block;

  font-size: 0;
  text-decoration: none;
}

.product__button {
  width: 100%;
}

.product__description {
  width: 50%;
  padding-top: 25px;
}

.product__title {
  display: block;
  padding-right: 50px;
  margin-bottom: 18px;

  font-size: $font-size-medium;
  text-decoration: none;
  text-transform: uppercase;

  line-height: 20px;
  color: $black-dark;
}

.product__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;

  font-family: $arial;
  font-size: $font-size-small;
  line-height: 16px;
}

.product__term,
.product__determination {
  width: 50%;
  margin: 0;
}

.product__determination {
  text-align: end;
}
