.program__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 20px 0;
}

.program__picture {
  position: relative;

  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;

  border-radius: 50%;
  background-color: $green;
}

.program__picture--panther::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 67px;
  height: 28px;

  background-repeat: no-repeat;
  background-image: url("../img/icon-cat-pro.svg");
}

.program__picture--slim::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35px;
  height: 49px;

  background-repeat: no-repeat;
  background-image: url("../img/icon-cat-slim.svg");
}

.program__title {
  margin: 0;

  font-size: $font-size-title-small;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;
  color: $black-dark;
}

.program__description {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 15px;

  font-family: $arial;
}

.program__link {
  position: relative;

  display: block;
  min-width: 122px;
  padding: 20px 28px 20px 0;

  font-size: $font-size-medium;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-dark;
  line-height: 16px;

  box-sizing: border-box;
  border-top: $grey-yet solid 1px;
  cursor: pointer;
}

.program__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;
  width: 25px;
  height: 12px;

  background-image: url("../img/icon-right-arrow-long.svg");
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    position: relative;

    padding: 80px 280px 62px 55px;
  }

  .program__picture {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;
    margin: 0;
  }

  .program__title {
    margin-bottom: 26px;

    font-size: $font-size-title;
  }

  .program__description {
    margin-bottom: 60px;
    padding: 0;

    font-size: $font-size-medium;
    line-height: 24px;
  }

  .program__link {
    min-width: 155px;
    padding: 0;
    padding-right: 30px;

    font-size: $font-size-larger;
    line-height: 20px;
  }

  .program__picture--slim::before {
    width: 141px;
    height: 194px;
  }

  .program__picture--panther::before {
    width: 268px;
    height: 113px;
  }
}
