.promo__wrapper {
  width: 280px;
  height: 100%;
  min-height: 289px;
  padding: 65px 59px 43px;
  margin: 0 auto;

  font-family: $arial;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: $white;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $green;
  background-size: cover;
  box-sizing: border-box;
}

.promo__picture {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;

  fill: $white;
}

.promo__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 708px;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    padding: 65px 125px 65px 90px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    box-sizing: border-box;
  }

  .promo__picture {
    margin: 0;
  }

  .promo__text {
    width: 170px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    flex-direction: column;
    min-width: 245px;
    width: 245px;
    padding: 65px 43px 43px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    box-sizing: border-box;
  }

  .promo__picture {
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .promo__text {
    text-align: center;
  }
}
