.promo__wrapper {
  position: relative;

  width: 280px;
  height: 100%;
  min-height: 289px;
  padding: 65px 59px 43px;
  margin: 0 auto;

  font-family: $arial;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: $white;

  box-sizing: border-box;
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.promo__picture {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;

  background-color: $green;
  fill: $white;
}

.promo__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 708px;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    padding: 65px 125px 68px 90px;
  }

  .promo__picture {
    margin: 0;
  }

  .promo__text {
    width: 170px;
    margin-left: auto;
    padding-top: 6px;
    padding-left: 9px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    flex-direction: column;
    min-width: 245px;
    width: 245px;
    margin-right: 12px;
    padding: 65px 38px 43px;
  }

  .promo__picture {
    margin: 0 auto;
    margin-bottom: 58px;
  }

  .promo__text {
    text-align: center;
    padding: 0;
  }
}
