.radio-btn {
  position: relative;

  display: flex;
  align-items: center;

  font-size: $font-size-medium;
  text-transform: uppercase;
  color: $black;

  cursor: pointer;
}

.radio-btn__input {
  position: absolute;
  clip: rect(0 0 0 0);
  margin-left: -13px;
}

.radio-btn__icon {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border: 1px solid $grey-lighter;
  border-radius: 50%;
  transition: 200ms ease;
}

.radio-btn__input:checked ~ .radio-btn__icon::before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: "";
  display: block;
  width: 12px;
  height: 12px;

  background: $green;
  border-radius: 50%;
}

.radio-btn:hover .radio-btn__icon,
.radio-btn:focus .radio-btn__icon {
  border: 1px solid $grey-baba;
}

.radio-btn:active {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .radio-btn {
    font-size: $font-size-larger;
    line-height: 20px;
  }

  .radio-btn__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .radio-btn__input:checked ~ .radio-btn__icon::before {
    width: 18px;
    height: 18px;
  }
}
