.range {
  display: flex;
  align-items: center;
  justify-content: center;
}
.range__text-btn {
  text-transform: uppercase;
  color: $black-dark;
  line-height: 20px;
  font-size: $font-size-medium;

  border: none;
  background: transparent;
  cursor: pointer;
}
.range__label {
  font-size: 0;
}
.range__line {
  padding: 3px 6px;
  box-sizing: border-box;
  display: flex;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px $grey-lighter;
  background-color: $white;
  position: relative;
}
.range__button {
  width: 35px;
  height: 6px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: $green;
}
