.slider__container {
  position: relative;

  width: 320px;
  margin-left: -20px;
  margin-bottom: 20px;
  min-height: 240px;
}

.slider__picture {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  margin: 0 auto 35px;
}

.slider__picture:nth-child(2) {
  transform: translateX(-12px);
}

.slider__picture-1 {
  opacity: 1;
}

.slider__picture-2 {
  opacity: 0;
}

@media (min-width: $tablet-width) {
  .slider {

    position: relative;
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 768px;
    height: 100%;
    margin-left: -30px;

    background: linear-gradient(to right, $grey-light 50%, $grey-yet 50%);
  }

  .slider__container {
    min-height: 348px;
    margin: 0;
  }

  .slider__picture {
    left: 50%;
    transform: translateX(-50%);

    margin-top: -170px;
  }

  .slider__range {
    padding-bottom: 68px;
  }
}
