.slider__container {
  margin-bottom: 20px;
  position: relative;
  min-height: 240px;
}

.slider__picture {
  display: block;
  margin: 0 auto 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__picture:nth-child(2) {
  transform: translateX(-12px);
}

.slider__picture-1 {
  opacity: 1;
}

.slider__picture-2 {
  opacity: 0;
}

@media (min-width: $tablet-width) {
  .slider {
    background: linear-gradient(to right, $grey-light 50%, $grey-yet 50%);
  }

  .slider__container {
    min-height: 348px;
    margin: 0;
  }

  .slider__picture {
    left: 50%;
    transform: translateX(-50%);

    margin-top: -170px;
  }

  .slider__range {
    padding-bottom: 68px;
  }
}
