.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 124px;
  padding: 21px 0 13px;
  margin: 0;

  border-bottom: $grey-pff solid 1px;
  border-top: $grey-pff solid 1px;
  list-style: none;
}

.socials__item {
  min-width: 20px;
  margin-right: 38px;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.socials__link {
  font-size: 0;

  outline: none;
  transition: 200ms ease;
}

.socials__link:active {
  opacity: 0.3;
}

.socials__link svg,
.socials__link path,
.socials__link circle {
  fill: $grey-44;
  transition: 300ms ease;
}

.socials__link:hover svg,
.socials__link:focus svg,
.socials__link:hover path,
.socials__link:focus path,
.socials__link:hover circle,
.socials__link:focus circle,
.socials__link:active svg,
.socials__link:active path,
.socials__link:active circle {
  fill: $green;
}

@media (min-width: $tablet-width) {
  .socials {
    padding: 5px 0 0 30px;
    border: none;
  }

  .socials__item {
    margin-right: 30px;
  }

  .socials__item:last-of-type {
    margin-right: 0;
  }

  .social__icon--vk {
    width: 31px;
    height: 19px;
  }

  .social__icon--insta {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
