.socials {
  list-style: none;
  padding: 21px;
  margin: 0;
  border-bottom: $grey-yet solid 1px;
  display: flex;
  justify-content: center;
}
.socials__item {
  margin-right: 38px;
}
.socials__link {
  font-size: 0;
}
