.textarea {
  margin: 0;
  padding: 13px;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;

  text-transform: uppercase;
  color: $black;

  border: 1px solid $grey-lighter;
  resize: none;
}

.textarea::placeholder {
  color: $main-color;
  font-size: $font-size-medium;
}

@media (min-width: $tablet-width) {
  .textarea::placeholder {
    font-size: $font-size-larger;
    line-height: 30px;
  }
}
