$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$black-dark: #111111;
$black: #222222;
$black-light: #666666;
$black-lighter: #cecece; // todo сравнить этот цвет и $grey-lighter мб это один и тот же
$white: #ffffff;
$grey: #ededed;
$grey-light: #f2f2f2;
$grey-yet: #dadada;
$grey-lighter: #cdcdcd;
$green: #68b738;
$main-color: #444444;

$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-small: 12px;
$font-size-large: 20px;
