$oswald: "Oswald", "Arial", sans-serif;

$black: #111111;
$white: #ffffff;
$grey: #ededed;
$green: #68b738;
$main-color: #444444;

$font-size-h1: 36px;
$font-size-h2: 22px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
