$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$black-dark: #111111;
$black: #222222;
$black-light: #666666;
$black-lighter: #cecece;
$white: #ffffff;
$grey: #ededed;
$grey-light: #f2f2f2; // todo сделать его белым-темным
$grey-yet: #ededed;
$grey-lighter: #cdcdcd;
$grey-another: #dcdcdc;
$green: #68b738;
$main-color: #444444;

$font-size-title: 36px;
$font-size-title-large: 60px;
$font-size-title-small: 24px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-small: 12px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-largest: 30px;

$tablet-width: 768px;
